@* Pages/Shared/Components/_Sidebar.cshtml *@

<aside class="sidebar-left">
    <nav class="sidebar-nav">
        <ul class="nav-items">
            <li class="nav-item @(ViewContext.RouteData.Values["page"].ToString().Contains("/Home") ? "active" : "")">
                <a href="/Home" class="nav-link">
                    <i class="fas fa-users"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-gauge-high"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-circle-question"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["page"].ToString().Contains("/Notifications") ? "active" : "")">
                <a href="/Notifications" class="nav-link">
                    <i class="fas fa-bell"></i>
                    <span class="notification-badge"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-user-secret"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-file-lines"></i>
                </a>
            </li>
            <li class="nav-item nav-item-bottom">
                <a href="#" class="nav-link">
                    <i class="fas fa-gear"></i>
                </a>
            </li>
        </ul>
    </nav>
</aside>
